<%= render 'shared/errors', object: @article  %>, 

<%= form_for @article do |f| %>
<div class="form-group">
  <%= f.label :title, class: "form-title" %><br />
  <%= f.text_field :title, placeholder: "Title of story", class: "form-control form-content" %>
</div>

<div class="form-group">
  <%= f.label :description, class: "form-title" %><br />
  <%= f.text_area :description, placeholder: "Body of story", id: "content", class: "form-control form-content" %>
</div>

<div class="form-group">
  <%= f.submit 'Publish Story', class: "btn btn-primary" %>
</div>


<% end %>