<%= render 'shared/errors', object: @article  %>

<%= form_for @article, html: { multipart: true } do |f| %>
  <div class="form-group">
    <%= f.label :title, class: "form-title" %><br />
    <%= f.text_field :title, placeholder: "Title of story", class: "form-control form-content" %>
  </div>
  
  <div class="form-group">
    <%= f.label :description, class: "form-title" %><br />
    <%= f.text_area :description, placeholder: "Body of story", id: "content", class: "form-control form-content" %>
  </div>
  
  <div class="form-group">
    <%= f.label :image, class: "form-title" %><br />
    <%= f.file_field :image %>
  </div>
  
  <div class="form-group">
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
      <%= cb.label(class: "checkbox-inline chckbox") {cb.check_box(class: "checkbox") + cb.text} %>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= f.submit(@article.new_record? ? "Publish Story" : "Update Story", class: "btn btn-primary") %>
  </div>
  <% end %>
