<h1 class="text-center"><%= @article.title %></h1>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="well"  id="show">
      <h4><%= simple_format(@article.description) %></h4>
      <div id="show-btn">
        <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-xs btn-info" %> <strong>|</strong>
        <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' },
          class: "btn btn-xs btn-warning"  %> <strong>|</strong>
        <%= link_to 'Back', articles_path, class: "btn btn-xs btn-success" %>
      </div>
      
      
    </div>
  </div>
</div>


