<h1 class="text-center show-title"><%= @article.title %></h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ul class="listing">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <li class="article-title">
            <h3 class="text-center show-title">
              <small>Author </small> | <%= link_to @article.user.username, user_path(@article.user) %>
            </h3>
          </li>
        </div>
      </div>
    </ul>
    <div class="well"  id="show">
      <h4><%= simple_format(@article.description) %></h4>
      <% if @article.categories.any? %>
        <p>Genres&nbsp;:&nbsp;<%= render @article.categories %></p>
      <% end %>
      <div id="show-btn">
        <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
          <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-xs btn-info" %> <strong>|</strong>
          <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' },
              class: "btn btn-xs btn-warning"  %> <strong>|</strong>
        <% end %>
        <%= link_to 'Back', articles_path, class: "btn btn-xs btn-success" %>
        
      </div>
      
      
    </div>
  </div>
</div>


