<h1 class="text-center">Add Genre</h1>

<%= render 'shared/errors', object: @category  %> 
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for @category do |f| %>
    
    <div class="well">
      <div class="form-group">
        <%= f.label :name, class: "form-title" %><br />
        <%= f.text_field :name, placeholder: "Genre", class: "form-control auth" %>
      </div>
      
      <div class="form-group">
        <%= f.submit "Add Genre", class: "btn btn-primary btn-lg" %>
      </div>
    </div>
    
    <% end %>
  </div>
</div>